/**
 * Place your custom CSS styles here.
 **/
 * {
    font-family: 'Inria Serif', serif;
    text-shadow: 4px 4px 8px black;
    font-weight: 500;
    font-size: large;
    color: aliceblue;
}
body {
    background-size: cover;
}
.center-box {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#clock-module {
    margin:auto;
    margin-bottom: 30px;
    width: 300px;
}
#clock {
    font-size: 150px;
    margin: 0
}
#date-text {
    margin: auto;
    display: table;
}

.no-bookmarks {
    font-size: medium;
    opacity: 0.8;
}

.bookmark-bar {
    display: flex;
    justify-content: center;
}
.bookmark {
    width: 100px;
    margin: 5px;
    margin-bottom: 0;
}
.favicon {
    border-radius: 50%;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 50px;
}
.bookmark:hover > p {
    opacity: 1;
}
.bookmark > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.8;
    margin-top: 4px;
    text-align: center;
}

.modal {
    display: block;
    position: fixed;
    opacity: 0;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .modal.blip {
    animation: blip ease 1.5s;
  }
  @keyframes blip {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    color: black;
    width: 260px;
  }
  